<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css" />

      <title>Sign Up</title>
   </head>
   <body>
      <%- include("partials/header") %>
      <main class="flex justify-center">
         <form
            action="sign-up"
            method="post"
            class="bg-color5 p-4 flex flex-col text-white rounded-sm gap-4 min-w-[300px]"
         >
            <label for="firstname">First Name:</label>
            <input
               type="text"
               name="firstname"
               id="firstname"
               required
               value="<%= locals.firstname && locals.firstname %>"
            />

            <label for="lastname">Last Name:</label>
            <input
               type="text"
               name="lastname"
               id="lastname"
               required
               value="<%= locals.lastname && locals.lastname %>"
            />

            <label for="email">Email:</label>
            <input
               type="email"
               name="email"
               id="email"
               required
               value="<%= locals.email && locals.email %>"
            />

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required minlength="6" />

            <label for="passwordConfirmation">Confirm Password:</label>
            <input
               type="password"
               name="passwordConfirmation"
               id="passwordConfirmation"
               required
               minlength="6"
            />
            <button type="submit">Sign Up</button>
            <%- include("partials/errors") %>
         </form>
      </main>
   </body>
</html>
